*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
    background: linear-gradient(26deg, #F7E93F 10%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
     background: linear-gradient(26deg, #9100F8 100%,#F7E93F 10%,#d153abac 51%);
     cursor: pointer;
     color: rgb(251, 255, 0);
}
/* Header CSS Start From Here */

header{
    max-width: 100%;
    background-color: #1A0B2E;  
}
.navbar-section{
    border-bottom: 1px solid #412567;
}
nav {
    max-width: 100%;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 16px 0px;
    align-items: center;
    
}
.logo{}
.logo h4 {
    color: #ffffff;
    font-size: 26px;
}
.logo h4 span{
    background: -webkit-linear-gradient(#F7E93F,#FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{}
.menu ul{
    display: flex;
    gap: 32px;
}
.menu ul li{
    list-style-type:none;
}
.menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}
.nav-btn{}

/* banner section CSS start */
.hero-section{
    text-align: center;
    background-image: url(image/hero-bg.png);
    width: 100%;
    max-width: 1600px;
    background-position: center;
    padding: 101px 0px;
    background-repeat: no-repeat;
    margin: 0px auto;
}
.mike-icon{
    width: 350px;
    height: 350px;
    background-image: url(image/hero-circle.png);
    background-repeat: no-repeat;
    margin: 0px auto;
    padding: 69px 75px 81px 75px;
    position: relative;
}
.new-btn{
    width: 90px;
    height: 38px;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.new-btn h6 {
    color: #ffff;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.big-icon{
    max-width: 200px;
    height: 200px;
}
.hero-content{
    margin-top: 40px;
}
.hero-content h1{
    font-size: 60px;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 8px;
}
.hero-content p{
    color: #ffffff;
    font-size: 16px;
    opacity: 80%;
    margin-bottom: 24px;
}
.banner-btn {
    color: #00FF88;
    border: 2px solid #00FF88;
    padding: 12px 20px;
    font-size: 16px;
    background: none;
    border-radius: 50px;
    gap: 8px;
    text-align: center;
    transition: .5s;
}
.banner-btn:hover{
    cursor: pointer;
    background: #00FF88;
    border: 2px solid #61f3af;
    color: #ffff;
}

/* Aboy CSS start */
.about-section{
    max-width: 100%;
    text-align: center;
    background-color: #1A0B2E;
    padding-top: 50px 200px;
}
.about-content {
    max-width: 1200px;
    width: 75%;
    margin: 0px auto;
    border-bottom: 1px solid #ffffff1c;
    padding-bottom: 50px;
}
.about-content h1{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.about-content p{
    font-size: 16px;
    opacity: 80%;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
}
.about-content span{
    margin-top: 50px;
    color: #ffffff;
    opacity: 80%;
    display: inline-block;
}
.about-card {
    max-width: 1200px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-item{ 
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card-item h2{ 
    font-size: 48px;
    color: #00FF88;
    font-weight: #800;
}
 .card-item h5{ 
    font-size:16px;
    line-height: 20px;
    color: #ffffff;
    opacity: 80%;
}

/* Service section CSs start  */

.service-section{
    max-width: 100%;
    width: 100%;
    padding: 120px 200px;
    background-color: #230E3D;
}
.service-header h2{
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.service-card{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 0px auto;
}
.service-card-item{
    background-color: #351165;
    border-radius: 20px;
    padding: 40px;
}
.service-card-item img{
    width: 60px;
    height: 60px;
}
.service-card-item h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 16px 0px;
}
.service-card-item p {
    color: #ffffff;
    opacity: 60%;
    font-size: 12px;
    line-height: 24px;
}
.service-1 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #351165;
    border-radius: 20px;
    padding: 40px;
    width: 380px;
}
.service-2{
    grid-column: span 2;
    grid-row: span 1;  
}
.service-4{
    grid-column: span 2;
    grid-row: span 1; 
}




.feature-section{
    width: 100%;
    max-width: 100%;
    background-color: #1A0B2E;
    padding: 120px 200px;
}
.feature-container{
    width: 100%;
    margin: auto;
}
.feature-header h1{
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}
.feature-card{
    display: flex;
    justify-content:center;
    gap: 30px;
    height: 440px;
}
.feature-card-item{
    background-color: #250D44;
    border-radius: 0px 0px 10px 10px;
    width: 380px;
}
.feature-card-item iframe{
    width: 380px;
    height: 214px;
    border-radius: 10px 10px 0px 0px;
}
.item-content{
    padding: 24px;
}
.item-content h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.item-content p{
    color: #ffffff;
    opacity: 60%;
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0px;
}
.item-content span{
    color: #00FF88;
    font-weight: 600;
    margin-bottom: 24px;
}


/* Host Section CSS start  */

.host-section{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.host-header{
    text-align: center;
    margin-bottom: 40px;
}
.host-header h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
}
.host-container {
    display: flex;
    max-width: 70%;
    margin: 0px auto;
    gap: 24px;
    background-color: #250D44;
    border-radius: 40px;
    padding: 40px;
    align-items: center;
}
.host-image{}
.host-image img{}
.host-content{}
.host-content h3{
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: bold;
}
.host-content p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 60%;
    margin-bottom: 16px;
}
.host-icon{}
.host-icon span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #aaa;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;
}


.footer-section{
    background-image: url(image/footer-bg.png);
    width: 100%;
    /* height: 380px; */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
}
.footer-content{
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
}
.footer-content h1 {
    color: #ffff;
    font-size: 60px;
    font-weight: bold;
}
.footer-content h1 span{
    display: inline-block;
    background: -webkit-linear-gradient(#F7E93F,#FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-content p{
    color: #ffff;
    opacity: 80%;
    margin-top: 40px;
}
.icon-part {
    align-items: center;
    display: flex;
    gap: 10px;
}
.footer-icon {
    display: flex;
    gap: 45px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    opacity: 83%;
    margin-top: 20px;
}



@media screen and (max-width:576px) {
    .menu{
        display: none;
    }
}